html, body { font-family: Gotham, Lato, "Helvetica Neue",Helvetica,Arial,sans-serif;  width:100%; padding:0px; margin:0px; background-color: #fff;  color:#999; font-weight: 300; font-size:18px 100%;}
h2 { font-weight:300; text-transform:uppercase;}
h1 { font-weight:300;text-transform:uppercase;}
h3 {color:#000; margin:0px 0px 8px 0px; padding:0px; text-transform:uppercase;}
p {text-transform:uppercase;}

